* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #3867D6;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.input {
    width: 530px;
    height: 300px;
}

.input-text {
    background-color: #3867D6;
    width: 530px;
    padding-top: 30px;
    height: 300px;
    border: #434040 solid 2px;
    border-radius: 3px;
}

.output-text {
    padding-top: 30px;
    background-color: #434040;
    width: 530px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}